<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <appSettings>
    <!--Numar maxim carti-->
    <add key="NMC" value="Value1" />
    <!--Perioada-->
    <add key="PER" value="Value2" />
    <!--La un imprumut pot prelua cel mult C carti; daca numarul cartilor imprumutate la o cerere de 
    imprumut e cel putin 3, atunci acestea trebui sa faca parte din cel putin 2 categorii distincte-->
    <!--C-->
    <add key="C" value="Value3" />
    <!--Nu pot imprumuta mai mult de D carti dintr-un acelasi domeniu – de tip frunza sau de nivel superior - in ultimele L luni-->
    <!--D-->
    <add key="D" value="Value4" />
    <!--L-->
    <add key="L" value="Value5" />
    <!--LIM-->
    <add key="LIM" value="Value6" />
    <!--DELTA-->
    <add key="DELTA" value="Value7" />
    <!--NCZ-->
    <add key="NCZ" value="Value8" />
    <!--PERSIMP-->
    <add key="PERSIMP" value="Value9" />
    <!--DOM-->
    <add key="DOM" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>